table.smbdiagiapptable {
    border-width:4;
    border-style:solid;
    border-color:black;
    width:100%;
    height:100%;
}
th.smbdiagiapptable {
    border-width:1;
    border-style:solid;
    border-color:black;
//    width:100%;
    }
tr.smbdiagiapptable {
    border-width:1;
    border-style:solid;
    border-color:black;
    width:100%;
    }
td.smbdiagiapptable {
    border-width:1;
    border-style:solid;
    border-color:black;
    width:20%;
    }
td.smbdiagoutput {
    border-width:1;
    border-style:solid;
    border-color:black;
    width:80%;
    }
textarea.smbdiagoutput {
    border-style:none;
    width:100%;
    height:100%;
    font-family: monospace;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: scroll;
    }

td.smbdiagconsole {
    border-width:1;
    border-style:solid;
    border-color:black;
    width:100%;
    height:200;
    }

td.ssmbdiaggettype {
    border-width:1;
    border-style:solid;
    border-color:black;
//    text-align:center;
    width:100;
    width:25%;
    }
